*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
   
}

.BodyTag{
    width: 80%;
    height: 100%;
    margin: auto;
}

form{
    margin: auto;
    width: 80%;
    height: 70%;
}


.circle-buttons{
    width: 20%;
    height: 80%;
    border-radius: 50%;
    padding: 10px;
    background-color:burlywood;
    color: beige;
    border: none;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.Laundry{
  width: 70%; 
  height: 30%; 
  border: none;
  background-color: burlywood;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: right;
}

.Cooking{
    width: 70%; 
    height: 30%; 
    border: none;
    background-color: burlywood;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: right;
  }

  .Cleaning{
    width: 70%; 
    height: 30%; 
    border: none;
    background-color: burlywood;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: right;
  }